<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "w3-container"}) do |f| %>
  <div class="modal-body">
    <p>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, :class => "w3-input"%>
    </p>

    <p>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", :class => "w3-input"%>
    </p>

    <% if devise_mapping.rememberable? -%>
      <p>
        <%= f.check_box :remember_me %>
        <%= f.label t("activerecord.attributes.user.remember_me") %>
      </p>
    <% end -%>

    <% @modalAction = "login" %>
    <%= render 'devise/shared/links', :locals => { :modalAction => @modalAction } %>
  </div>
  <div class="modal-footer">
    <a class="btn btn-non-primary" data-dismiss="modal"> <%= t("labels.cancel") %> </a>
    <%= f.submit t("header.login"), :class => "btn btn-default" %>
  </div>
<% end %>
