<%= form_for(resource, as: resource_name, url: session_path(resource_name),
    :html => {:class => "w3-container", :novalidate => true, "name" => "loginForm"}) do |f| %>
  <div class="modal-body">

    <!-- email field -->

    <div class="field">
      <div class="error-messages error" ng-messages="loginForm['user[email]'].$error"
        ng-if="loginForm['user[email]'].$touched || loginForm.$submitted">
        <div ng-message="required"> <%= t("mongoid.errors.models.user.attributes.email.blank")%> </div>
        <div ng-message="email"> <%= t("errors.invalidEmail") %> </div>
      </div>

      <p>
        <%= f.label :email %>
        <%= f.email_field :email, :class => "w3-input",
          "ng-model" => "loginUser.email", "ng-model-options" => "{ updateOn: 'blur' }",
          :required => true %>
      </p>

      <span class="icon error glyphicon glyphicon-remove"
        ng-if="loginForm['user[email]'].$invalid &&
          (loginForm['user[email]'].$touched || loginForm.$submitted)"></span>

    </div>

    <!-- password field -->

    <div class="field">
      <div class="error-messages error" ng-messages="loginForm['user[password]'].$error"
        ng-if="loginForm['user[password]'].$touched || loginForm.$submitted">
        <div ng-message="required"> <%= t("mongoid.errors.models.user.attributes.password.blank")%> </div>
      </div>

      <p>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off",
          :class => "w3-input", "ng-model" => "loginUser.password", "ng-model-options" => "{ updateOn: 'blur' }",
          :required => true %>
      </p>

      <span class="icon error glyphicon glyphicon-remove"
        ng-if="loginForm['user[password]'].$invalid &&
          (loginForm['user[password]'].$touched || loginForm.$submitted)"></span>

    </div>

    <!-- remember me checkbox -->

    <% if devise_mapping.rememberable? -%>
      <p>
        <%= f.check_box :remember_me %>
        <%= f.label t("activerecord.attributes.user.remember_me") %>
      </p>
    <% end -%>
    <% @modalAction = "login" %>
    <%= render 'devise/shared/links', :locals => { :modalAction => @modalAction } %>
  </div>
  <div class="modal-footer">
    <a class="btn btn-non-primary" data-dismiss="modal"> <%= t("labels.cancel") %> </a>
    <%= f.submit t("header.login"), :class => "btn btn-default", "ng-click" => "submitLogin($event)" %>
  </div>
<% end %>
