<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
  :html => {:class => "w3-container", :novalidate => true, "name" => "registrationForm"}) do |f| %>

  <div class="modal-body">

    <!-- name field -->

    <div class="field">
      <div class="error-messages error" ng-messages="registrationForm.name.$error"
        ng-if="registrationForm.name.$touched || registrationForm.$submitted">
        <div ng-message="required"> <%= t("mongoid.errors.models.user.attributes.name.blank")%> </div>
      </div>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "w3-input",
            "ng-model" => "registerUser.name", "ng-model-options" => "{ updateOn: 'blur' }",
            "name" => "name", :required => true %>
      </p>
      <span class="icon glyphicon"
        ng-class="{'error glyphicon-remove' : registrationForm.name.$invalid &&
          (registrationForm.name.$touched || registrationForm.$submitted),
          'sucess glyphicon-ok' : registrationForm.name.$valid}">
      </span>

    </div>

    <!-- username field -->

    <div class="field">
      <div class="error-messages error" ng-messages="registrationForm.username.$error"
        ng-if="registrationForm.username.$touched || registrationForm.$submitted">
        <div ng-message="required"> <%= t("mongoid.errors.models.user.attributes.username.blank")%> </div>
      </div>
      <p>
        <%= f.label :username %>
        <%= f.text_field :username, class: "w3-input", "ng-model" => "registerUser.username",
        "ng-model-options" => "{ updateOn: 'blur' }", "name" => "username", :required => true %>
      </p>
      <span class="icon glyphicon"
        ng-class="{'error glyphicon-remove' : registrationForm.username.$invalid &&
          (registrationForm.username.$touched || registrationForm.$submitted),
          'sucess glyphicon-ok' : registrationForm.username.$valid}">
      </span>

    </div>

    <!-- email field -->

    <div class="field">
      <div class="error-messages error" ng-messages="registrationForm.email.$error"
        ng-if="registrationForm.email.$touched || registrationForm.$submitted">
        <div ng-message="required"> <%= t("mongoid.errors.models.user.attributes.email.blank")%> </div>
        <div ng-message="email"> <%= t("errors.invalidEmail") %> </div>
      </div>
      <p>
        <%= f.label :email %>
        <%= f.email_field :email, class: "w3-input",
          "ng-model" => "registerUser.email", "ng-model-options" => "{ updateOn: 'blur' }",
          "name" => "email", :required => true %>
      </p>
      <span class="icon glyphicon"
        ng-class="{'error glyphicon-remove' : registrationForm.email.$invalid &&
          (registrationForm.email.$touched || registrationForm.$submitted),
          'sucess glyphicon-ok' : registrationForm.email.$valid}">
      </span>

    </div>

    <!-- password field -->

    <div class="field">
      <div class="error-messages error" ng-messages="registrationForm.password.$error"
        ng-if="registrationForm.password.$touched || registrationForm.$submitted">
        <div ng-message="required"> <%= t("mongoid.errors.models.user.attributes.password.blank")%> </div>
        <div ng-message="minlength"> <%= t("mongoid.errors.models.user.attributes.password.too_short")%> </div>
      </div>
      <p>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: "w3-input",
          "ng-model" => "registerUser.password", "ng-model-options" => "{ updateOn: 'blur' }",
          "ng-minlength" => 6, "name" => "password", :required => true %>
      </p>

      <span class="icon glyphicon"
        ng-class="{'error glyphicon-remove' : registrationForm.password.$invalid &&
          (registrationForm.password.$touched || registrationForm.$submitted),
          'sucess glyphicon-ok' : registrationForm.password.$valid}">
      </span>

    </div>

    <!-- password confirmation field -->

    <div class="field">

      <div class="error-messages error" ng-messages="registrationForm.passwordConfirmation.$error"
        ng-if="registrationForm.passwordConfirmation.$touched || registrationForm.$submitted">
        <div ng-message="required"> <%= t("mongoid.errors.models.user.attributes.password.blank")%> </div>
        <div ng-message="equalPasswords">
          <%= t("mongoid.errors.models.user.attributes.password_confirmation.confirmation")%>
        </div>
      </div>

      <p>
        <%= f.label t("activerecord.attributes.user.password_confirmation") %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "w3-input",
          "ng-model" => "registerUser.passwordConfirmation", "ng-model-options" => "{ updateOn: 'blur' }",
          "name" => "passwordConfirmation", "equal-passwords" => "registerUser.password", :required => true %>
      </p>

      <span class="icon glyphicon"
        ng-class="{'error glyphicon-remove' : registrationForm.passwordConfirmation.$invalid &&
          (registrationForm.passwordConfirmation.$touched || registrationForm.$submitted),
          'sucess glyphicon-ok' : registrationForm.passwordConfirmation.$valid}">
      </span>

    </div>

  </div>
  <div class="modal-footer">
    <div class="btn btn-non-primary" data-dismiss="modal"> <%= t("labels.cancel") %> </div>
    <%= f.submit t('devise.registrations.new.sign_up'), :class => "btn btn-default",
      "ng-click" => "submitRegistration($event)" %>
  </div>

<% end %>
