<div class="content-wrapper" ng-controller="ProfileController">

  <%= render :partial => "user_sidebar",
        locals: { active_item: @active_item} %>

  <div class="content-right">
    <h1><%= t("user-profile.edit.title") %></h1>
    <%= form_for(@user, method: :put, :url => profile_path(@user.id), :html => {:novalidate => true, "name" => "editForm"}) do |f| %>
      <%= devise_error_messages! %>

    <!-- name field -->

    <div class="field">
      <div id="editNameError" class="error-messages error" ng-messages="editForm['user[name]'].$error"
        ng-if="editForm['user[name]'].$touched || editForm.$submitted">
        <div ng-message="required"> <%= t("mongoid.errors.models.user.attributes.name.blank")%> </div>
      </div>
      <p>
        <%= f.label :name, t("user-profile.name") %>
        <%= f.text_field :name, class: "w3-input",
            "ng-model" => "user.name", "ng-model-options" => "{ updateOn: 'blur' }",
            :required => true%>
      </p>
      <span class="icon glyphicon"
        ng-class="{'error glyphicon-remove' : editForm['user[name]'].$invalid &&
          (editForm['user[name]'].$touched || editForm.$submitted),
          'sucess glyphicon-ok' : editForm['user[name]'].$valid}">
      </span>
    </div>

    <!-- email field -->

    <div class="field">
      <div id="editEmailError" class="error-messages error" ng-messages="editForm['user[email]'].$error"
        ng-if="editForm['user[email]'].$touched || editForm.$submitted">
        <div ng-message="required"> <%= t("mongoid.errors.models.user.attributes.email.blank")%> </div>
        <div ng-message="email"> <%= t("errors.invalidEmail") %> </div>
        <div ng-message="emailTaken"> <%= t("mongoid.errors.models.user.attributes.email.taken")%> </div>
      </div>
      <p>
        <%= f.label :email, t("user-profile.email") %>
        <%= f.email_field :email, class: "w3-input",
          "ng-model" => "user.email", "ng-model-options" => "{ updateOn: 'blur' }",
          "email-taken-validator" => true, :required => true %>
      </p>
      <span class="icon glyphicon"
        ng-class="{'error glyphicon-remove' : editForm['user[email]'].$invalid &&
          (editForm['user[email]'].$touched || editForm.$submitted),
          'sucess glyphicon-ok' : editForm['user[email]'].$valid,
          'icon-spin glyphicon-refresh' :  editForm['user[email]'].$pending}">
      </span>
    </div>

    <!-- occupation field -->

    <div class="field">
      <p>
        <%= f.label :occupation, t("user-profile.occupation") %>
        <%= f.text_field :occupation, class: "w3-input",
            "ng-model" => "user.occupation", "ng-model-options" => "{ updateOn: 'blur' }",
            :required => true%>
      </p>
    </div>

    <!-- country field -->

    <div class="field">
      <p>
        <%= f.label :country, t("user-profile.country") %>
        <%= f.text_field :country, class: "w3-input",
            "ng-model" => "user.country", "ng-model-options" => "{ updateOn: 'blur' }",
            :required => true%>
      </p>
    </div>

    <!-- institution field -->

    <div class="field">
      <p>
        <%= f.label :institution, t("user-profile.institution") %>
        <%= f.text_field :institution, class: "w3-input",
            "ng-model" => "user.institution", "ng-model-options" => "{ updateOn: 'blur' }",
            :required => true%>
      </p>
    </div>

      <div class="actions"><%= f.submit t("user-profile.edit-btn"), :class => "btn btn-default" %></div>
    <% end %>
  </div>
</div>
