<div class="content-wrapper">

  <%= render :partial => "user_sidebar",
        locals: { active_item: "update_password"} %>

  <div class="content-right">
    <h1><%= t("user-profile.edit-password.title") %></h1>

    <%= form_for(@user, :url => { :action => "update_password" }, :method => :POST ) do |f| %>
      <div class="field">
        <%= f.label :current_password, t("user-profile.current-password") %><br/>
        <%= f.password_field :current_password, class: "w3-input" %>
      </div>
      <div class="field">
        <%= f.label :password, t("user-profile.password") %><br/>
        <%= f.password_field :password, class: "w3-input", :autocomplete => "off"  %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, t("user-profile.password-confirmation")  %><br/>
        <%= f.password_field :password_confirmation, class: "w3-input" %>
      </div>
      <div class="action_container">
        <%= f.submit t("labels.save_changes"), :class => "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
