<% title(t 'user-profile.menu.update_password') %>

<div class="content-wrapper" ng-controller="RegistrationController">

  <%= render :partial => "user_sidebar",
        locals: { active_item: "update_password"} %>

  <div class="content-right">
    <h1><%= t("user-profile.edit-password.title") %></h1>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%=key%> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= value %>
      </div>
    <% end %>


    <%= form_for(@user, :url => { :action => "update_password" }, :method => :PUT,
        :html => {:novalidate => true, "name" => "changePasswordForm"} ) do |f| %>

      <!-- actual password field -->

      <div class="field">
        <div id="currentPasswordError" class="error-messages error" ng-messages="changePasswordForm['user[current_password]'].$error"
          ng-if="changePasswordForm['user[current_password]'].$touched || changePasswordForm.$submitted">
          <div ng-message="required"> <%= t("mongoid.errors.models.user.attributes.password.blank")%> </div>
          <div ng-message="minlength"> <%= t("mongoid.errors.models.user.attributes.password.too_short")%> </div>
        </div>
        <p>
          <%= f.label :none, t("user-profile.current-password") %>
          <%= f.password_field :current_password, autocomplete: "off", class: "w3-input",
            "ng-model" => "user.currentPassword", "ng-model-options" => "{ updateOn: 'blur' }",
            "ng-minlength" => 6, :required => true %>
        </p>

        <span class="icon glyphicon"
          ng-class="{'error glyphicon-remove' : changePasswordForm['user[current_Password]'].$invalid &&
            (changePasswordForm['user[current_password]'].$touched || changePasswordForm.$submitted),
            'sucess glyphicon-ok' : changePasswordForm['user[current_password]'].$valid}">
        </span>
      </div>

      <!-- new password field -->

      <div class="field">
        <div id="passwordError" class="error-messages error" ng-messages="changePasswordForm['user[password]'].$error"
          ng-if="changePasswordForm['user[password]'].$touched || changePasswordForm.$submitted">
          <div ng-message="required"> <%= t("mongoid.errors.models.user.attributes.password.blank")%> </div>
          <div ng-message="minlength"> <%= t("mongoid.errors.models.user.attributes.password.too_short")%> </div>
        </div>
        <p>
          <%= f.label :none,  t("user-profile.password") %>
          <%= f.password_field :password, autocomplete: "off", class: "w3-input",
            "ng-model" => "user.password", "ng-model-options" => "{ updateOn: 'blur' }",
            "ng-minlength" => 6, :required => true %>
        </p>

        <span class="icon glyphicon"
          ng-class="{'error glyphicon-remove' : changePasswordForm['user[password]'].$invalid &&
            (changePasswordForm['user[password]'].$touched || changePasswordForm.$submitted),
            'sucess glyphicon-ok' : changePasswordForm['user[password]'].$valid}">
        </span>

      </div>

      <!-- password confirmation field -->

      <div class="field">

        <div id="passWordConfirmationError" class="error-messages error"
          ng-messages="changePasswordForm['user[password_confirmation]'].$error"
          ng-if="changePasswordForm['user[password_confirmation]'].$touched || changePasswordForm.$submitted">
          <div ng-message="required"> <%= t("mongoid.errors.models.user.attributes.password.blank")%> </div>
          <div ng-message="equalPasswords">
            <%= t("mongoid.errors.models.user.attributes.password_confirmation.confirmation")%>
          </div>
        </div>

        <p>
          <%= f.label :none,  t("user-profile.password-confirmation") %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "w3-input",
            "ng-model" => "user.passwordConfirmation", "ng-model-options" => "{ updateOn: 'blur' }",
            "equal-passwords" => "user.password", :required => true %>
        </p>

        <span class="icon glyphicon"
          ng-class="{'error glyphicon-remove' : changePasswordForm['user[password_confirmation]'].$invalid &&
            (changePasswordForm['user[password_confirmation]'].$touched || changePasswordForm.$submitted),
            'sucess glyphicon-ok' : changePasswordForm['user[password_confirmation]'].$valid}">
        </span>

      </div>
      <div class="action_container">
        <%= f.submit t("labels.save_changes"), :class => "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
