<% title t("admin.user-list") %>

<div class="content-wrapper">

  <%= render :partial => "admin_sidebar",
        locals: { active_item: @active_item} %>

  <div class="content-right">
    <h1><%= t("admin.user-list") %></h1>

    <div class="table-responsive">
      <table id="userTable" class="table table-striped w3-hoverable table-bordered">
        <thead>
          <tr>
            <th><%= t("user.username") %></th>
            <th><%= t("user.name") %></th>
            <th><%= t("user.email") %></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr class="w3-hover-teal">
              <td><%= user.username %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= link_to t("labels.show"), user %></td>
              <td>
                <a data-toggle="modal" data-target="#deleteConfirmationModal" data-username="<%= user.username %>" data-delete-url="<%= url_for user%>">
                  <%= t("labels.delete")%>
                </a>
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-non-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    <%= t("user.role." + user.role.to_s) %>
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <% User.roles.each do |role| -%>
                      <% unless role.first.to_s.eql? user.role.to_s-%>
                        <li><a href=#><%= t("user.role." + role.first.to_s) %></a></li>
                      <% end -%>
                    <% end -%>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content w3-container">
      <div class="modal-body modal-delete-user">
      </div>
      <div class="modal-footer">
        <a class="btn btn-non-primary" data-dismiss="modal"><%= t("labels.close") %></a>
        <a id="deleteBtn" class="btn btn-danger" data-method="delete"><%= t("labels.delete") %></a>
      </div>
    </div>
  </div>
</div>
