<div class="content-wrapper">

  <%= render :partial => "admin_sidebar",
        locals: { active_item: @active_item} %>

  <div class="content-right">
    <p id="notice"><%= notice %></p>

    <h1><%= t("admin.user-list") %></h1>

    <div class="table-responsive">
      <table id="userTable" class="table table-striped w3-hoverable">
        <thead>
          <tr>
            <th><%= t("user.username") %></th>
            <th><%= t("user.name") %></th>
            <th><%= t("user.email") %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr class="w3-hover-teal">
              <td><%= user.username %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= link_to t("labels.show"), user %></td>
              <td><%= link_to t("labels.delete"), user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <br>

    <%= link_to 'New User', new_user_path %>
  </div>
</div>
