<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label t("activerecord.attributes.user.email") %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label t("activerecord.attributes.user.password") %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label t("activerecord.attributes.user.password_confirmation") %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <% @modalAction = "register" %>
  <%= render 'devise/shared/links', :locals => { :modalAction => @modalAction } %>

  <div class="modal-footer" data-dismiss="modal">
    <div class="btn btn-default actions" data-dismiss="modal"> <%= t("labels.cancel") %> </div>
    <%= f.submit t('devise.registrations.new.sign_up'), :class => "btn btn-default actions" %>
  </div>

<% end %>
