<div class="content-wrapper">
  <div class="content-left w3-card-4">
    <ul class="left-navigation">
    <% side_menu_tokens = ["introduction", "history", "members"] -%>
    <% side_menu_tokens.each do |token| -%>
      <li>
        <a id="<%=token-%>_ref" onclick="setTimeout(teamHideShowSections(this), 1500)">
         <%=t("about-us-menu." + token)-%>
        </a>
      </li>
    <% end -%>
    </ul>
  </div>
  <% side_menu_tokens.each do |token| -%>
  <!--<%=token-%> section-->
  <div id="<%=token-%>" class="content-right about-us-sections section-<%=if token.eql? "introduction" then "active" else "inactive" end-%>">
    <h1>
       <%=t("about-us-"+token+".title")-%>
    </h1>
    <div class="container-fluid">
    <% case token
    when "introduction" %>
       <%=t("about-us-"+token+".content")-%>
    <% when "history" %>
       <%=t("about-us-"+token+".content")-%>
    <% when "members" %>
      <% team_names = ["Rosseline Rodríguez","Leonid Tineo","Soraya Carrasquel","David Coronado","José Cadenas","Josué Ramírez","Ricardo Monascal", "Darwin Rocha"] -%>
      <% team_photos = ["darwin","darwin","darwin","darwin","darwin","darwin","darwin","darwin"] -%>

      <% team_names.each_with_index do |tag, i| -%>
        <div class="col-xs-4 member-container" >
          <div class="member-card">
            <a>
              <%= image_tag(team_photos[i] + ".png", width: "120px", height: "120px") -%>
              <h4><%= tag -%></h4>
            </a>
          </div>
        </div>
      <% end -%>
    <% end -%>
    </div>
  </div>
  <!--<%=token-%> end section-->
  <% end -%>
</div>

