<div ng-controller="HomeController">
  <!--{{message}}!-->
    <div class="contentWrapper">
      <div class="contentLeft w3-card-4">
        <ul class="leftNavigation">
        <% side_menu_tokens = ["introduction", "history", "members"] -%>
        <% side_menu_tokens.each do |token| -%>
          <li>
            <a id="<%=token-%>_ref" onclick="setTimeout(teamHideShowSections(this), 1500)">
             <%=t("about-us-menu." + token)-%>
            </a>
          </li>
        <% end -%>
        </ul>
      </div>
      <% side_menu_tokens.each do |token| -%>
      <!--<%=token-%> section-->
      <div id="<%=token-%>" class="contentRight about-us-sections section-<%=token.eql? "introduction" ? "active" : "inactive"-%>">
        <h1>
           <%=t("about-us-"+token+".title")-%>
        </h1>
        <div class="container-fluid">
        <% case token
        when "introduction" %>
           Introoooo
        <% when "history" %>
           Echame un cuento
        <% when "members" %>
          <% team_names = ["Rosseline Rodriguez","Leonid Tineo","Soraya Carrasquel","David Coronado","Jose Cadenas","Josue Ramirez","Ricardo Monascal", "Darwin Rocha"] -%>
          <% team_photos = ["darwin","darwin","darwin","darwin","darwin","darwin","darwin","darwin"] -%>

          <% team_names.each_with_index do |tag, i| -%>
            <div class="col-xs-4 member-container" >
              <a>
                <%= image_tag(team_photos[i] + ".png", width: "200px", height: "200px") -%>
                <h4><%= tag -%></h4>
              </a>
            </div>
          <% end -%>
        <% end -%>
        </div>
      </div>
      <!--<%=token-%> end section-->
      <% end -%>
  </div>
</div>
