<div class="content-wrapper">

  <%= render :partial => "about_us_sidebar",
        locals: { active_item: "members"} %>

  <div class="content-right about-us-sections">
    <h1>
       <%=t("about-us-members.title")-%>
    </h1>
    <div class="container-fluid">
      <% @team_members.each_with_index do |tag, i| -%>
        <div class="col-xs-6 col-lg-4 member-container" >
          <div class="member-card">
            <a href="<%="#{@team_links[i]}"-%>">
              <%= image_tag("team/" + @team_photos[i] + ".png", width: "120px", height: "120px") -%>
              <h4><%= tag -%></h4>
            </a>
          </div>
        </div>
      <% end -%>
    </div>
  </div>
</div>
