<div class="content-wrapper">

  <%= render :partial => "about_us_sidebar",
        locals: { active_item: ""} %>

  <div class="content-right">
    <div class="container-fluid member-container member-bio-header">
      <div class="col-xs-4">
        <%= image_tag("team/" + @member.photo, width: "200px", height: "200px", :class =>"member-bio-img") %>
      </div>
      <div class="col-xs-8 member-bio-name">
        <%= @member.name %>
        <h6><%= @member.email %></h6>
      </div>
    </div>
    <div class="text-content">
      <%= render :partial => "/about/members/#{@member.member_id}_bio" %>
    </div>
  </div>
</div>

