<!DOCTYPE html>
<html>
<head>
  <title>FuzzydoDB - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render :partial => "shared/header" %>

  <div class="content page-wrap">
    <%= yield %>
  </div>


  <%= render :partial => "shared/footer", locals: { home: @isHome }%>
  <a href="#" class="crunchify-top"><span class="glyphicon glyphicon-upload"></a>
</body>
</html>
<script type="text/javascript">
  I18n.defaultLocale = "<%= I18n.default_locale %>";
  I18n.locale = "<%= I18n.locale %>";
</script>
