<!DOCTYPE html>
<html ng-app="fuzzydodb">
<head>
  <title>FuzzydoDBapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render :partial => "shared/header" %>

  <div class="content page-wrap">
    <%= yield %>
  </div>


  <%= render :partial => "shared/footer" %>

</body>
</html>
