<!DOCTYPE html>
<html ng-app="fuzzydodb">
<head>
  <title>FuzzydoDBapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body>

  <header class="header-fixed">
    <div class="container-fluid header-container">

      <div class="row">
        <div class="col-xs-2 logo">
          <%= image_tag("fuzzydodb.png", width: "190px", height: "50px") %>
        </div>
        <div class="col-xs-10 header-right-container">
          <div class="top-options-container">
            <button type="button" class="btn btn-default"> Iniciar Sesión </button>
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="Buscar">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"/></button>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="header-menu">
        <ul class="w3-navbar w3-light-grey">
        <% menu_tags = ["INICIO","EQUIPO","DESCARGA","API","DOCUMENTACIÓN","PRUEBAS EN LÍNEA", "DESEMPEÑO","COMUNIDAD"] -%>
        <% print menu_tags -%>
        <% menu_tags.each do |x| -%>
           <li class="w3-hover-teal">
             <a><%= x -%></a>
           </li>
        <% end -%>
          <li class="w3-right w3-hover-teal">
            <a><span class="glyphicon glyphicon-globe" style="font-size: 15px; margin-right: 4px;"></span>IDIOMA</a>
          </li>
        </ul>
      </div>
  </header>

  <div class="content">
    <div ng-view></div>
  </div>

  <footer class="footer-container">
    <%= image_tag("logoUSB.png", width: "80px", height: "50px") %>
    <div class="college-place">Universidad Simón Bolívar - Venezuela</div>
    <div class="info">Información legal - Información de contacto</div>
  </footer>


</body>
</html>
