<!DOCTYPE html>
<html ng-app="fuzzydodb">
<head>
  <title>FuzzydoDBapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body>

  <header class="header-container container-fluid">
    <div class="row">
      <div class="col-xs-2 logo">
        <%= image_tag("fuzzydodb.png", width: "190px", height: "50px") %>
      </div>
      <div class="col-xs-10 header-right-container">


        <div class="top-options-container">

          <button type="button" class="btn btn-default"> Iniciar Sesión </button>

          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Buscar">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"/></button>
            </span>
          </div>
        </div>

        <div class="header-menu">
          <ul>
            <li>
              <div>INICIO</div>
            </li>
            <li>
              <div>ACERCA</div>
            </li>
            <li>
              <div>DESCARGA</div>
            </li>
            <li>
              <div>API</div>
            </li>
            <li>
              <div>DOCUMENTACIÓN</div>
            </li>
            <li>
              <div>PRUEBAS EN LÍNEA</div>
            </li>
            <li>
              <div>DESEMPEÑO</div>
            </li>
            <li class="last-item">
              <div>COMUNIDAD</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div ng-view></div>

  <footer class="footer-container">
    <%= image_tag("logoUSB.png", width: "80px", height: "50px") %>
    <div class="college-place">Universidad Simón Bolívar - Venezuela</div>
    <div class="info">Información legal - Información de contacto</div>
  </footer>


</body>
</html>
