<!DOCTYPE html>
<html ng-app="fuzzydodb">
<head>
  <title>FuzzydoDBapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body>
-- Empieza inyeccion

<div ng-view></div>

<footer>
<p><%= flash[:notice] %></p>
  <%= image_tag("logousb.png") %>
  <p><%=t :university_footer %></p>
  <p><%=t :info_footer %></p>
</footer>

</body>
</html>
